.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    max-height: 68px;
    margin: auto;
    &_machin {
       color:blue;
    }
    
}